* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  
}

nav .logo {
  font-size : 23px;
  font-weight: 700;

 
}

nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 32%;
 
}

nav .nav-links a {
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;


}

nav .burger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media all and (max-width: 768px) {
nav .burger {
    display: block;
  }
  
  nav .nav-links {
    position: absolute;
    flex-flow: column;
    display: block;
    top: 0;
    left: 0;
    height: 44%;
    background-color: rgba(0, 0, 0,1);
    color: white;
    padding: 3px;
    width: 50%;
    transform: translateX(-500px);
    transition: 0.5s ease-in-out;
    opacity: 1;
  }

  nav .nav-links li {
    padding: 25px;
  

  }

  nav .nav-links li:last-of-type {
    border-bottom: 0px;
  }

  nav .nav-links a:hover {
    border-bottom: 0px solid #fff;

  }
 


}

/* Display */
.btn {
  
  color: white;
  border-color: white;
  
}
.displayh {
  padding-top: 5vh;
  padding-left: 10vh;
  color: white;
  justify-content: center;
}

.displayp {
  font-size: 5vh;
  color:white;
}

/* About */

.display-1 {
  font-size: 5vh;
  text-justify: auto;
}







/* under here is the styling for dark and light mode */
.App {
  align-content: center;
  justify-content: center;
}

.cv-button{
  text-emphasis: none;
  text-decoration: none;
  color: white;

}


.stacks-container {
  text-align: center;
  padding-top: 0%;
}

.project-container {
  background-color: rgb(120, 115, 115);;
  text-align: center;
  padding-top: 0%;
}


main {
  padding: 0.5em;
  margin: 0 auto;
  max-width: 600px;
  font-size: 1.2rem;
  line-height: 1.1;
  height: 90vh;
}

h1 {
  margin: 0;
}

.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

input[type="checkbox"].checkbox {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}

input[type="checkbox"].checkbox:checked + label {
  left: 30px;
}

input[type="checkbox"].checkbox:focus-visible {
  outline: solid 2px white;
}

input[type="checkbox"].checkbox + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.9;
  background-color: rgb(44, 171, 171);
}

.toggle-container {
  display: flex;
  margin: 0 auto;
}

.toggle-container > span {
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 4px;
  margin-right: 2px;
}

.toggle-container > span:last-child {
  margin-top: 5px;
}

.light-mode {
  background-color:white;
  color: black;
  transition: background-color 5.0s ease-out;
  
}

.dark-mode {
  background-color: rgba(0,0,0,0.9);
  color: white;
  transition: background-color 5.0s ease-out;
}

@media (max-width: 650px) {
  .light-mode {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: background-color 5.0s ease-out;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
    transition: background-color 5.0s ease-out;
  }
  .h1-one {
    font-size: 22px;
    margin-top: 5px;

  }

  .p-one {
    font-size: 13px;
    font-weight: none;
  }
 
}

.d-jumbotron {
  align-content: flex-end;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}